div(class="container-fluid")
    form([formGroup]="repositoryForm")
        div(class="form-group")
            label(for="name") Name
            input(id="name", type="text", class="form-control", placeholder="Name", [formControlName]="'name'")
        button([disabled]="repositoryForm.invalid", (click)="save()") Save
