div(class="row")
    div(class="col-md-1") {{ index }}
    div(class="col-md-3") {{ item.name }}
    div(class="col-md-1")
        a([routerLink]="['repository', item._id]")
            span(class="glyphicon glyphicon-wrench")
    div(class="col-md-1")
        a((click)="openDeleteConfirmation.emit(item)")
            span(class="glyphicon glyphicon-remove-sign")
